<table class="invoices">
  <tr>
    <th><%= l(:field_invoice_number) %></th>
    <th><%= l(:field_date_issued) %></th>
    <th><%= l(:field_customer) %></th>
    <th><%= l(:field_project) %></th>
    <th><%= l(:field_amount) %></th>
  </tr>
  <%= render :partial => 'row', :collection => invoices %>
</table>

