<%= render :partial => 'invoice_menu' %>

<h1><%= l(:label_edit_invoice) %></h1>

<% labelled_tabular_form_for(:invoice, @invoice, :url => { :action => 'update', :id => @project}) do |form| %>

<%= form.hidden_field 'id' -%>

<%= render(:partial => 'form', :object => form) %>

<p><%= form.submit l(:button_update) %></p>

<% end %>
