<h1>Editing Invoice</h1>

<% form_for(:invoice, @invoice, :url => { :action => 'update', :id => @project}) do |form| %>

<%= render(:partial => 'form', :object => form) %>

<p><%= form.submit "Update" %></p>

<% end %>
