<h1>Invoices</h1>

<table id="invoices">
  <tr>
    <th>Invoice Number</th>
    <th>Date Issued</th>
    <th>Customer</th>
    <th>Amount</th>
  </tr>
  <%= render :partial => 'row', :collection => @invoices %>
</table>
