<%= render :partial => 'invoice_menu' %>

<h1>New Invoice</h1>

<% form_for(:invoice, @invoice, :url => { :action => 'create', :id => @project}) do |form| %>

<%= render(:partial => 'form', :object => form) %>

<p><%= form.submit "Create" %></p>

<% end %>
