div#invoice {  }
div#invoice-meta {  }
div#company { float:right; margin: 0 25px; }
div#customer {  }
div#invoice-description {margin: 30px 0; padding: 10px; background: #EEEEEE; border: 1px solid #CCCCCC;}
div#amount { float:right; font-size:large; }
div#payment-terms {  }
div#foot-note { margin: 20px 0; padding: 10px; border: 1px solid #CCCCCC; }
div.clear { clear:both; }

#invoice-number { font-weight: bold; font-size: large;  color: #334E6C }

div#amount p { font-weight: bold; }
div#customer p, div#company p { margin:0; padding:0; }
div#customer h3, div#company h3 { font-size:large; }

div#invoice h3 { color: #334E6C }

div#invoice .date { font-style: italic; }

div#invoice-menu { border: 1px solid #CCCCCC; padding: 5px; margin-bottom: 10px;}
div#invoice-menu ul { padding: 0; margin: 0; list-style:none; }
div#invoice-menu li { display: inline;}
div#invoice-menu li a { text-decoration:none; padding: 5px;}
div#invoice-menu li a:hover { background: #759FCF; color: #FFFFFF }