table.invoices { text-align: center; width: 80%; }
div#invoice {  }
div#invoice-meta { float:right; border: 1px solid #CCCCCC; width: auto; padding: 8px 15px; margin: 30px 0 25px 0; background: #FFFFFF}
div#invoice-meta p { margin: 0 15px 0 0;}
div#company { float:right; margin: 0 25px; }
div#customer {  }
div#invoice-description {margin: 30px 0; padding: 10px; background: #FFFFFF; border: 1px solid #CCCCCC;}
#invoice-description h1 { margin: 0 0 15px 0; }
div#amount { float:right; font-size:large; color: #334E6C;}
div#payment-terms {  }
div#foot-note { margin: 20px 0; padding: 10px; width: 70%;}
div.clear { clear:both; }

#invoice-number { font-weight: bold; font-size: large;  color: #334E6C; }

.invoice-message { float:right; font-weight: bold; font-size: larger; padding: 0px 15px; border: #000000 dashed 1px;}
.fully-paid { color: #FFFFFF; background: #00CC00; }
.pending { color: #000000; background: #EEEE00;}
.late { color: #FFFFFF; background: #FF0000; }


div#amount p { font-weight: bold; }
div#customer p, div#company p { margin:0; padding:0; }
div#customer h3, div#company h3 { font-size:large; }

div#invoice h3 { color: #334E6C }

div#invoice .date { font-style: italic; }

div#invoice-menu { border: 1px solid #CCCCCC; padding: 5px; margin-bottom: 10px;}
div#invoice-menu ul { padding: 0; margin: 0; list-style:none; }
div#invoice-menu li { display: inline;}
div#invoice-menu li a { text-decoration:none; padding: 5px;}
div#invoice-menu li a:hover { background: #759FCF; color: #FFFFFF }
